<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <body>

    <p>Click the button to get your coordinates.</p>
    
    
    <p id="demo"></p>
    
    <script type="text/javascript">
    var x = document.getElementById("demo");
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude + 
        "<br>Longitude: " + position.coords.longitude;
    }
    getLocation();
    showPosition();
    </script>

    



    <div class="userInput">
        <form action="#">
            <input type="text" name="input" placeholder="Enter Desired Foods">
            <select name="range">
                <option value="1">1</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
            </select>
            <input type="submit">
        </form>

    </div>
    
    </body>


</html>